@font-face {
  font-family: 'Endless-Boss-Battle';
  src: url('/assets/fonts/Endless-Boss-Battle.eot');
  src: url('/assets/fonts/Endless-Boss-Battle.woff2') format('woff2'),
       url('/assets/fonts/Endless-Boss-Battle.woff') format('woff'),
       url('/assets/fonts/Endless-Boss-Battle.ttf') format('truetype'),
       url('/assets/fonts/Endless-Boss-Battle.svg#Endless-Boss-Battle') format('svg'),
       url('/assets/fonts/Endless-Boss-Battle.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
