/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.vagrant
composer.lock
npm-debug.log

/app/Gulp/bower_components
/app/Gulp/node_modules
/_socketserver/node_modules
/_socketserver/tmp
