html, body {
    color:       $font-color;
    font-size:   16px;
    font-family: font(body);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font(body);
    font-weight: 300;
    margin:      0.75rem 0;
}

h1 {
    font-size:   2.0625rem;
    line-height: 2.75rem;
}

h2 {
    font-size:   1.75rem;
    line-height: 2.5rem;
}

h3 {
    font-size:   1.5rem;
    line-height: 2.25rem;
}

h4 {
    font-size:   1.125rem;
    line-height: 2.125rem;
}

h5 {
    font-size:   1rem;
    line-height: 1.625rem;
}

.a-ff\:headline { font-family: font(headline); }
.a-ff\:functional { font-family: font(functional); }
.a-ff\:body { font-family: font(body); }
.a-ff\:code { font-family: font(code); }

// a { color: $boston-blue; }

p {
    font-size:   0.875rem;
    line-height: 1.3125rem;
    margin-top:  0.75rem;
}
