.u-ai\:c { align-items: center; }
.u-bdrs\:5 { border-radius: 5px; }
.u-d\:fx { display: flex; }
.u-d\:ib { display: inline-block; }
.u-fw\:b { font-weight: bold; }
.u-fxb\:17r { flex-basis: 17rem; }
.u-fxd\:r { flex-direction: row; }
.u-fz\:1\.125r { font-size: 1.125rem; }
.u-fz\:1\.875r { font-size: 1.875rem; }
.u-h\:100p { height: 100%; }
.u-h\:2\.6r { height: 2.6rem; }
.u-h\:2r { height: 2rem; }
.u-jc\:c { justify-content: center; }
.u-lis\:n { list-style: none; }
.u-mih\:100p { min-height: 100%; }
.u-mw\:30r { max-width: 30rem; }
.u-ol\:n { outline: none; }
.u-p\:1r { padding: 1rem; }
.u-p\:2r { padding: 2rem; }
.u-p\:a { position: absolute; }
.u-p\:f { position: fixed; }
.u-p\:l { page-break-after: left; }
.u-p\:r { position: relative; }
.u-pl\:\.75r { padding-left: .75rem; }
.u-pr\:\.75r { padding-right: .75rem; }
.u-pt\:1r { padding-top: 1rem; }
.u-t\:0 { top: 0; }
.u-ta\:c { text-align: center; }
.u-w\:100p { width: 100%; }
.u-w\:90p { width: 90%; }
.u-zi\:100 { z-index: 100; }

@media (min-width: breakpoint(mobile)) {

}

@media (min-width: breakpoint(tablet)) {

}

@media (min-width: breakpoint(retina)) {

}