.u-ai\:c { align-items: center; }
.u-b\:0 { bottom: 0; }
.u-b\:n { border: none; }
.u-bdrs\:5 { border-radius: 5px; }
.u-bgc\:\$editor-background { background-color: $editor-background; }
.u-bgc\:\$sidebar-header-background { background-color: $sidebar-header-background; }
.u-bgc\:\$sidebar-header-font-color { background-color: $sidebar-header-font-color; }
.u-bgc\:\$tab-bar-background { background-color: $tab-bar-background; }
.u-bgc\:\$tree-view-active-file-background { background-color: $tree-view-active-file-background; }
.u-bgc\:\$tree-view-background { background-color: $tree-view-background; }
.u-c\:\$font-color { color: $font-color; }
.u-c\:\$sidebar-font-color { color: $sidebar-font-color; }
.u-c\:\$sidebar-header-font-color { color: $sidebar-header-font-color; }
.u-c\:\$tab-bar-font-color { color: $tab-bar-font-color; }
.u-c\:\$tree-view-active-file-font-color { color: $tree-view-active-file-font-color; }
.u-d\:b { display: block; }
.u-d\:fx { display: flex; }
.u-fw\:b { font-weight: bold; }
.u-fxd\:c { flex-direction: column; }
.u-fxd\:r { flex-direction: row; }
.u-fz\:0\.8125r { font-size: 0.8125rem; }
.u-fz\:1\.125r { font-size: 1.125rem; }
.u-fz\:1\.875r { font-size: 1.875rem; }
.u-fz\:\$sidebar-font-size { font-size: $sidebar-font-size; }
.u-h\:100p { height: 100%; }
.u-h\:2 { height: 2px; }
.u-h\:2\.5r { height: 2.5rem; }
.u-h\:2\.6r { height: 2.6rem; }
.u-h\:2r { height: 2rem; }
.u-jc\:c { justify-content: center; }
.u-l\:-50p { left: -50%; }
.u-l\:0 { left: 0; }
.u-l\:50p { left: 50%; }
.u-lh\:\$sidebar-font-size { line-height: $sidebar-font-size; }
.u-lis\:n { list-style: none; }
.u-mih\:100p { min-height: 100%; }
.u-mr\:0\.5r { margin-right: 0.5rem; }
.u-mw\:30r { max-width: 30rem; }
.u-ol\:n { outline: none; }
.u-p\:1r { padding: 1rem; }
.u-p\:2r { padding: 2rem; }
.u-p\:a { position: absolute; }
.u-p\:f { position: fixed; }
.u-p\:l { page-break-after: left; }
.u-p\:r { position: relative; }
.u-pb\:0\.75r { padding-bottom: 0.75rem; }
.u-pb\:1r { padding-bottom: 1rem; }
.u-pl\:0\.75r { padding-left: 0.75rem; }
.u-pl\:1\.5r { padding-left: 1.5rem; }
.u-pl\:1r { padding-left: 1rem; }
.u-pl\:\.75r { padding-left: .75rem; }
.u-pr\:0\.75r { padding-right: 0.75rem; }
.u-pr\:1r { padding-right: 1rem; }
.u-pr\:\.75r { padding-right: .75rem; }
.u-pt\:0\.75r { padding-top: 0.75rem; }
.u-pt\:1r { padding-top: 1rem; }
.u-t\:0 { top: 0; }
.u-ta\:c { text-align: center; }
.u-td\:n { text-decoration: none; }
.u-tt\:u { text-transform: uppercase; }
.u-w\:100p { width: 100%; }
.u-w\:12r { width: 12rem; }
.u-w\:29\.25r { width: 29.25rem; }
.u-w\:90p { width: 90%; }
.u-zi\:100 { z-index: 100; }
.u-zi\:400 { z-index: 400; }
.u-zi\:500 { z-index: 500; }

@media (min-width: breakpoint(mobile)) {

}

@media (min-width: breakpoint(tablet)) {

}

@media (min-width: breakpoint(retina)) {

}