.CodeMirror {
    height:      100%;
    font-family: 'Operator Mono', 'Inconsolata', 'Monaco', monospace;
    font-size:   16px;
    font-weight: normal;
    line-height: 1.9;
    padding-top: 2.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
