.fuzzy-finder__input {
    background:    none;
    color:       $font-color;
    display:     block;
}

.fuzzy-finder__highlight {
    background: $theme-primary;
    transition: 1s width ease-in-out;
}

.fuzzy-finder--active .fuzzy-finder__highlight {
    width: 100%;
}

.fuzzy-finder__file--active {
    background: $theme-primary;
    color:      $base16-dark-white;
}
