// .tab:before {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0;
//     height: 100%;
//     background-color: rgba(255, 255, 255, 0.2);
//     opacity: 0;
//     transition: all 0.2s ease-in-out;
// }
//
// .tab--active {
//     width: 100%;
//     opacity: 1;
// }

.tab__highlight {
    width: 0;
    transition: width 0.2s ease-in-out;
}

.tab__highlight--active {
    width: 100%;
}

.tab__close {
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform:  scale(0);
}

.tab-bar__tab:hover > .tab__close {
    transform: scale(1);
}
